@charset "utf-8";

body, table, form, input, td, th, p, textarea, select {
  font-family: 'Marmelad', sans-serif;
}

body {
  width: 980px;
  margin: 0 auto;
}

#main-table {
  /* background-image: url(snowrabbit.png) !important; */
}
